body{
    background-color: lightblue;
}

a{
    text-decoration: none;
}

h3{
    font-family: Andale Mono, monospace;
}

.principal{
    background-color: whitesmoke;    
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 70%;
}

.lado_esquerdo{
    background-color: #355586;
}

.lado_direito{
    padding: 40px;   
}

.foto_perfil{
    border-radius: 50%;   
    padding: 20px 100px;
}

.info-lado_esquerdo{
    color: #a5c2f0;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}

.subtitulo{
    text-align: center;
    text-transform: uppercase;
    color: #355586;
}

p{
    color: white;
    margin: 30px;
}

.material-icons.icone_branco{
    color: white;
}

.bloco_informacao{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 10px;
    width: 100%;
    align-items: center;
}

.descricao{
    font-size: 14px;
    color: white;
    font-weight: 600;
    font-family: Andale Mono, monospace;
    margin: 16px;
}
.descricao a{
    color: white;
}

@media(min-width: 280px){
    .principal{
        background-color: whitesmoke;
        margin-right: 5px;
        padding: 10px;
        height: 100%;
        display: block;
    }

    .lado_direito, .lado_esquerdo{
        padding: 0px;
    }

    .bloco_informacao{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;        
    }
}

@media(min-width: 360px){
    .principal{
        background-color: whitesmoke;
        margin-right: 5px;
        padding: 10px;
        height: 100%;
        display: block;
        width: auto;
        font-size: 20px;
    }
}

@media (min-width: 375px){
    
    .principal{
        background-color: whitesmoke;
        margin-right: 5px;
        padding: 10px;
        height: 100%;
        display: block;
        width: auto;
        font-size: 20px;
    }
}

@media(min-width: 540px){
    .foto_perfil{
        width: 200px;
        height: 200px;
    }
}

@media(min-width: 768px){
    .principal{
        background-color: whitesmoke;    
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: auto;
        padding: 0px;
    }

    .lado_direito{
        padding: 0px 80px 0px 20px;
    }
}


@media(min-width: 820px){
    .principal{
        background-color: whitesmoke;    
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 70%;
    }
    .lado_direito{
        padding: 0px 80px 0px 20px;
    }
}


@media(min-width:1024px){
    .principal{
        background-color: whitesmoke;    
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 70%;
    }

    .lado_direito{
        padding: 0px 120px 0px 20px;
    }
}

@media(min-width:1440px){
    
    .lado_direito{
        padding: 15px;
    }
}