a{
    text-decoration: none;
}

body{
    padding: 0px;
    margin: 0px;
}

h3{
    font-family: Andale Mono, monospace;
}

.principal{
    background-color: whitesmoke;    
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 70%;
}

.foto_perfil{
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    
}

.lado_esquerdo{
    background-color: #355586;
}

.lado_direito{
    padding: 40px;   
}

.info-lado_esquerdo{
    color: #a5c2f0;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
}

.subtitulo{
    text-align: center;
    text-transform: uppercase;
    color: #355586;
}

p{
    color: white;
    margin: 30px 30px 30px 50px;
}

.material-icons.icone_branco{
    color: white;
}

.bloco_informacao{
    display: block;
    margin-bottom: 20px;
}

.descricao{
    font-size: 16px;
    color: white;
    font-family: Andale Mono, monospace;
    margin: 4px;
}
.descricao a{
    color: white;
}

.icones_contato{
    display: block;
    flex-direction: row;
    background-color: #557ebb;
    border-style:ridge;  
    position: fixed;
    top: 50px;
}

.bloco_informacao_idiomas{
    padding-left: 50px;
    padding-bottom: 25px;
}

@media(min-width: 280px){
    .principal{
        background-color: whitesmoke;
        height: 100%;
        display: block;
        }

    .bloco_informacao{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;  
        text-align: center;      
    }    
}

@media(min-width: 360px){
    .principal{
        background-color: whitesmoke;
        height: 100%;
        display: block;
        width: auto;
        font-size: 20px;
    }
}

@media (min-width: 375px){
    
    .principal{
        background-color: whitesmoke;
        height: 100%;
        display: block;
        width: auto;
        font-size: 20px;
    }
    
}

@media(min-width: 540px){
    .foto_perfil{
        width: 200px;
        height: 200px;
    }
}

@media(min-width: 768px){
    .principal{
        background-color: whitesmoke;    
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 70%;
        width: auto;
    }

    .lado_direito{
        padding: 20px;
    }

    .foto_perfil{
        width: 150px;
        height: 150px;
    }
    p, li{
        font-size: 16px;
    }
}


@media(min-width: 820px){
    .principal{
        background-color: whitesmoke;    
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 70%;
    }
    .lado_direito{
        padding: 20px;
    }
}


@media(min-width:1024px){
    

    .lado_direito{
        padding: 20px;
    }
    .foto_perfil{
        border-radius: 50%;
        text-align: center;
        margin-left: 20px;
    }
    

}

@media(min-width:1440px){

    .principal{
        background-color: whitesmoke;    
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 70%;
    }
    
    .lado_direito{
        padding: 20px;
    }

    .foto_perfil{
        border-radius: 50%;
        text-align: center;
        margin-left: 50px;
    }
}